# https://pinggy.io/docs/run_tunnel_on_startup/linux/
[Unit]
Description=Pinggy Tunnel Startup

[Service]
EnvironmentFile=/run/metadata/pinggy
ExecStart=
ExecStart=ssh -p 443 -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -R0:localhost:22 ${PINGGY_TOKEN}+tls@eu.a.pinggy.io
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
